
/*
.column3,
.column4,
.column6,
.column8,
.column9 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.6%;
}
*/

.btn-group .btn-tag + .btn-tag {
	margin-left: 2rem;
}
.year {
	margin-top: 0.5rem;
	margin-right: 1rem;
	float: right;
}

/*
 █████╗ ██████╗  █████╗ ██████╗ ████████╗██╗██╗   ██╗███████╗
██╔══██╗██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██║██║   ██║██╔════╝
███████║██║  ██║███████║██████╔╝   ██║   ██║██║   ██║█████╗
██╔══██║██║  ██║██╔══██║██╔═══╝    ██║   ██║╚██╗ ██╔╝██╔══╝
██║  ██║██████╔╝██║  ██║██║        ██║   ██║ ╚████╔╝ ███████╗
╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝        ╚═╝   ╚═╝  ╚═══╝  ╚══════╝
*/


@media screen and (min-width: 750px) {
	.project .column6 + .column6 {
		text-align: right;
		
	}
	.project .bottom {
		margin-top: 7rem;
	}
}
@media screen and (max-width: 749px) {
	.project .column6 + .column6 {
		margin-top: 1rem;;
	}
	.project .bottom {
		margin-top: 4rem;
	}
}
@media screen and (max-width: 500px) {
	.project .bottom {
		margin-top: 1rem;
	}
}