@charset "utf-8";
@import url("../fonts/gotham.css");
@import url("../fonts/icomoon.css");
@import url("http://fonts.googleapis.com/css?family=PT+Sans&subset=all");

* {
    -webkit-font-smoothing: antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 18px;
    line-height: 18px;
    overflow-x: hidden;
}

body {
    font-family: "Gotham", sans-serif;
    font-size: 0.778rem;
    line-height: 1rem;
    font-weight: 300;
    /*min-width: 1000px;*/
    color: #111111;
    background-color: #f9f9f9;
}

input, textarea, select, option {
    font-family: "Gotham", sans-serif;
    font-size: 0.778rem;
    line-height: 1rem;
    font-weight: 400;
    color: #111111;
    -webkit-appearance: none;
    border-radius: 0px;
}

/*колонки*/
.row {
    width: 92%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /*overflow: hidden;*/
}

.column3,
.column4,
.column6,
.column8,
.column9 {
    display: inline-block;
    vertical-align: top;
    /*float: left;*/
    margin: 0 1%;
}

.column3 {
    width: 22.5%;
}

.column4 {
    width: 31%;
}

.column6 {
    width: 47.5%;
}

.column8 {
    width: 63.5%;
}

.column9 {
    width: 72.5%;
}

.column12 {
    margin-left: auto;
    margin-right: auto;
    width: 90.5%;
    max-width: 69rem;
}

.row > .column12 {
    width: 98.25%;
}

*[class*="column"] > *[class*="column"]:first-child {
    margin-left: 0 !important;
}

*[class*="column"] > *[class*="column"]:last-child {
    margin-right: 0 !important;
}

.left3 {
    position: relative;
    left: 25%;
}


.column12 > h1,
.column12 > h2,
.column12 > h3,
.column12 > p,
.column12 > li {
    max-width: 1144px;
}


section {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

section.hero:last-child {
    margin-bottom: 0;
}
/*article {
    width: 52.5rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}*/

/*контент*/
article > *:last-child {
    margin-bottom: 0;
}

h2 {
    font-size: 2rem;
    line-height: 2.125rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.hgroup h2 {
    margin-bottom: 0.5rem;
}

.hgroup {
    margin-bottom: 2rem;
}


@media all and (max-width: 960px) {
    h2 {
        font-size: 1.25rem;
        line-height: 1.625rem;
    }
}

article header h2:last-child {
    margin-bottom: 0;
}

/*h2:last-child,*/
h3:last-child {
    margin-bottom: 0;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
}

@media all and (max-width: 960px) {
    h4 {
        font-size: 0.85rem;
        line-height: 1.125rem;
    }
}

input[type="text"],
input[type="password"],
textarea {
    border: solid #ddd 1px;
    box-sizing: border-box;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

input[type="text"],
input[type="password"],
textarea {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /*font-size: 1rem;*/
}

select {
    border: solid #ddd 1px;
    box-sizing: border-box;
    height: 2rem;
    padding-left: 0.5rem;
}

select:focus {
    outline: none;
    border-color: #aaa;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: #aaa;
    outline: none;
}

.error input[type="text"],
.error input[type="password"],
.error textarea,
.error select {
    border-color: #FF4136;
}

fieldset {
    margin: 1rem 0;
}

fieldset label,
fieldset .error {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

fieldset label {
    text-align: right;
}

fieldset .error {
    color: #FF4136;
    display: none;
}



fieldset.error .error {
    display: inline-block;
    vertical-align: top;
}

input[type="submit"],
.button {
    font-size: 1rem;
    line-height: 3rem;
    background-color: #0074D9;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

input[type="submit"]:hover,
.button:hover {
    background-color: rgba(0, 116, 217, 0.5);
}



strong {
    font-weight: 500;
}

p {
    margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}

article.hero > * {
    max-width: 1140px;
}

article.hero {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

article.hero p,
article.hero ul,
p.hero {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

article.hero ul {
    margin-left: 1.75rem;
    margin-bottom: 1rem;
}

article.hero ul li {
    margin-bottom: 0.25rem;
    max-width: 800px;
}

article.hero ul li:last-child {
    margin-bottom: 0;
}

article.hero ul li:before {
    left: -1.75rem;
}

section.hero {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 3rem;
    /*padding-bottom: 2rem;*/
    min-height: 15rem;
    position: relative;
}

section.hero:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
}

section.hero > * {
    z-index: 1;
    position: relative;
}

section section.hero {
    margin-bottom: 0;
    margin-top: 0;
}

section section.hero[style*="background-image"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*мелочи*/
a {
    text-decoration: none;
    color: #111;
    -webkit-transition: opacity 0.1s ease-out;
            transition: opacity 0.1s ease-out;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*display: inline-block;*/
}

a:hover {
    opacity: 0.5;
}

a.underlined > span {
    border-bottom: solid rgba(34, 34, 34, 0.2) 1px;
}

.media.card a.underlined > span,
.media.card span.underlined {
    border-bottom: solid rgba(34, 34, 34, 0.25) 1px;
}

.green {
    color: #5ACC3A;
}

*[class^="icon-"].big,
*[class*=" icon-"].big {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

*[class^="icon-"].medium,
*[class*=" icon-"].medium {
    font-size: 2rem;
    line-height: 2rem;
}

small {
    font-size: 0.667rem;
}

ul {
    margin-bottom: 1rem;
    margin-left: 1rem;
    list-style: none;
}

section ul > li {
    position: relative;
}

section ul > li:before {
    content: "—";
    position: absolute;
    left: -1rem;
    top: 0;
}

.link {
    position: relative;
    text-decoration: underline;
}

.grey {}


.ruble:after {
    content: "₽";
    font-family: "PT Sans";
}

.icon-file-doc {
    font-family: "Gotham Pro", sans-serif;
    display: inline-block;
    color: white;
    background-color: #2B8DFF;
    border-radius: 2px;
    font-size: 60%;
    padding: 0.25em 0.5em;
    line-height: normal;
    font-weight: 300;
}

.icon-file-doc:after {
    content: ".DOC";
    /*position: relative;*/
    /*top: 1px;*/
}

.icon-file-pdf {
    font-family: "Gotham Pro", sans-serif;
    display: inline-block;
    color: white;
    background-color: #FF0D2B;
    border-radius: 2px;
    font-size: 60%;
    padding: 0.25em 0.5em;
    line-height: normal;
    font-weight: 300;
}

.icon-file-pdf:after {
    content: ".PDF";
    /*position: relative;*/
    /*top: 1px;*/
}

.icon-file-txt {
    font-family: "Gotham Pro", sans-serif;
    display: inline-block;
    color: white;
    background-color: #9e9e9e;
    border-radius: 2px;
    font-size: 60%;
    padding: 0.25em 0.5em;
    line-height: normal;
    font-weight: 300;
}

.icon-file-txt:after {
    content: ".TXT";
    /*position: relative;*/
    /*top: 1px;*/
}

* + .icon-file-doc,
* + .icon-file-pdf,
* + .icon-file-txt {
    margin-left: 0.25rem;
}

/*.mobile .ruble:after {
    content: "р."
}*/

/*.link:after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-bottom: solid rgba(0,0,0,0.2) 1px;
}*/



/*медиа-элементы*/
.media {
    margin-bottom: 2.5rem;
    font-size: 0.778rem;
    line-height: 1rem;
}

.media:last-child {
    margin-bottom: 0;
}

.media.horizontal {
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.media.horizontal {
    /*display: table-row;*/
}

.media.horizontal dt {
    display: table-cell;
    vertical-align: middle;
    padding-right: 1rem;
}

.media.horizontal dd {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
}

.media a {
    color: #111;
}

.media h3 {
    position: relative;
}

.media h3 sup {
    position: absolute;
    bottom: 100%;
    margin-bottom: -0.125rem;
    font-size: 0.667rem;
    left: 0;
    width: 100%;
}

.media a {
    display: block;
}

.hero .media {
    margin-bottom: 2.5rem;
}

.media .hero {
    font-size: 1rem;
    line-height: 1.25rem;
}

.avatar {
    width: 7rem;
    height: 8rem;
    display: block;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-image: url(../images/avatar-empty.svg);
}

.media .image {
    margin-bottom: 0.625rem;
}

.media .image img {
    display: block;
    width: 100%;
}

.media .icons {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
}

.media .icons.big {
    margin-bottom: 1rem;
}

.media .icons > * {
    vertical-align: middle;
    display: inline-block;
}


/*.media .icons *[class*="icon-"] {
    font-size: 2.5rem;
}*/

.media .icons .icon-plus {
    position: relative;
    font-size: 1.625rem;
}

.media p.date {
    margin-bottom: 0.125rem;
    font-weight: 500;
    text-transform: uppercase;
}

.partners {
    text-align: justify;
}
.partners img {
    max-height: 2.875rem;
}

.partners a {
    margin-right: 3rem;
    vertical-align: middle;
    margin-bottom: 2rem;
}

.media.card {
    padding: 2rem 1.5rem;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.media.card[style*="background-image"] {
    color: #ffffff;
    position: relative;
}

.media.card[style*="background-image"]:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
}

.media.card[style*="background-image"] > * {
    position: relative;
    z-index: 1;
}


.media.card h4 {
    height: 6rem;
    overflow: hidden;
}

/*анимация появления*/
.emergefake {
    opacity: 0.0;
    -moz-transform: translateY(20px);
    -moz-transition-property: all;
    -moz-transition-duration: 0.4s;
    -moz-transition-timing-function: ease-out;
    -webkit-transform: translateY(20px);
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translateY(0,20px,0);
            -ms-transform: translateY(0,20px,0);
        transform: translateY(0,20px,0);
    -webkit-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.emergefake.emergefake-show {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
        transform: translateY(0px);
}

/*эффект большого экрана на главной*/
.with-landing .site-header,
.with-landing .site-header-menu {
    height: 100%;
    min-height: 5rem;
}

.with-landing .site-header-menu > * {
    top: 50%;
    position: relative;
    margin-top: -2.5rem;
}

.with-landing .site-header-menu {
    font-weight: 400;
}

.with-landing.landing-hide .site-header {
    height: 0%;
}

.with-landing.landing-hide .site-header-menu {
    font-weight: 300;
}


.site-header .landing-image {
    display: none;
    -webkit-transition: all 0.4s;
            transition: all 0.4s;
}

.with-landing .site-header .landing-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    /*bottom: 0px;*/
    top: 0px;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
}

.with-landing.landing-hide .site-header .landing-image {
    opacity: 0;
}

.with-landing.landing-hide .site-header {
    -webkit-transition: all 0.8s;
            transition: all 0.8s;
}

.with-landing body > main {
    top: 20rem;
    position: relative;
}

.with-landing.landing-hide body > main {
    top: 0;
}


.with-landing.landing-hide body > main {
    -webkit-transition: all 0.8s;
            transition: all 0.8s;
}

.with-landing a.toggle-site-menu,
.with-landing .site-header a.toggle-neq4-projects {
    opacity: 0;
    -webkit-transition: all 0.4s;
    -webkit-transition-delay: 0.0s;
    -moz-transition: all 0.4s;
    -moz-transition-delay: 0.0s;
    -webkit-transition: all 0.4s;
            transition: all 0.4s;
    -webkit-transition-delay: 0.0s;
            transition-delay: 0.0s;
}

.with-landing.landing-hide a.toggle-site-menu,
.with-landing.landing-hide .site-header a.toggle-neq4-projects {
    opacity: 1;
    -moz-transition: all 0.8s;
    -moz-transition-delay: 0.3s;
    -webkit-transition: all 0.8s;
    -webkit-transition-delay: 0.3s;
    -webkit-transition: all 0.8s;
            transition: all 0.8s;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
}

.with-landing.landing-hide.landing-stop-animation a.toggle-site-menu,
.with-landing.landing-hide.landing-stop-animation .site-header a.toggle-neq4-projects {
    opacity: 1;
    -webkit-transition: all 0.4s;
    -webkit-transition-delay: 0.0s;
    -moz-transition: all 0.4s;
    -moz-transition-delay: 0.0s;
    -webkit-transition: all 0.4s;
            transition: all 0.4s;
    -webkit-transition-delay: 0.0s;
            transition-delay: 0.0s;
}

.with-landing.landing-hide.landing-stop-animation a.toggle-site-menu {
    -webkit-transition: opacity 0.4s, margin 0.4s ease-out, top 0.4s ease-out, left 0.4s ease-out;
            transition: opacity 0.4s, margin 0.4s ease-out, top 0.4s ease-out, left 0.4s ease-out;
}

/*меню сайта*/
.site-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #5ACC3A;
    width: 17rem;
    box-sizing: border-box;
    z-index: 200;
    -webkit-transform: translateX(-17rem);
    -ms-transform: translateX(-17rem);
        transform: translateX(-17rem);
    -webkit-transition: -webkit-transform 0.4s ease-out;
            transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 3.5rem;
    padding-right: 3rem;
    padding-bottom: 1.5rem;
    overflow-y: auto;
}

.toggle-site-menu {
    position: fixed;
    left: 0.875rem;
    top: 1rem;
    font-size: 26px;
    line-height: 3rem;
    cursor: pointer;
    color: #111111;
    z-index: 300;
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
    width: auto;
}

.toggle-site-menu:before {
    -webkit-transition: all 0.0s ease-out;
            transition: all 0.0s ease-out;
    content: " ";
    position: fixed;
    z-index: -1;
    width: 0px;
    left: 0;
    top: 0;
    height: 4rem;
    background-color: #5ACC3A;
}

.show-projects .toggle-site-menu {
    top: 6rem;
}

.show-projects .toggle-site-menu[data-active="true"] {
    top: 1rem;
}

.toggle-site-menu label {
    display: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8rem;
    vertical-align: top;
    cursor: pointer;
}

.toggle-site-menu .icon-close {
    display: none;
}

.toggle-site-menu[data-active="true"] {
    left: 3.5rem;
}

.show-menu .toggle-site-menu[data-active="true"] label {
    display: inline-block;
}

.show-menu .toggle-site-menu[data-active="true"] {
    color: #fff;
}

.show-menu .toggle-site-menu[data-active="true"]:before {
    width: 280px;
    -webkit-transition: width 0.4s ease-out;
            transition: width 0.4s ease-out;
}

.toggle-site-menu[data-active="true"] .icon-menu {
    display: none;
}

.toggle-site-menu[data-active="true"] .icon-close {
    display: inline-block;
}

.toggle-site-menu[data-active="true"] .specialicon-menu span {
    background-color: rgba(255,255,255,0.9);
}

.toggle-site-menu .specialicon-menu {
    position: relative;
    top: -2px;
}


.site-menu a {
    color: #ffffff;
    display: block;
    cursor: pointer;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.language-select > * {
    display: none;
}

.language-select.ru .ru {
    display: block;
}

.language-select.en .en {
    display: block;
}

.site-menu[data-active="true"] {
    -webkit-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
        transform: translateX(0rem);
}

body > main {
    -moz-transform: translateX(0rem);
    -moz-transition: all 0.4s ease-out;
    -webkit-transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-out;
    -webkit-transform: translateX(0rem);
            -ms-transform: translateX(0rem);
        transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

body.show-menu {
    overflow-x: hidden;
}

body.show-menu > main {
    /*-moz-transition: -webkit-transform 0.4s ease-out;*/
    -webkit-transform: translateX(17rem);
    /*-webkit-transition: -webkit-transform 0.4s ease-out;*/
    -ms-transform: translateX(17rem);
        transform: translateX(17rem);
    /*transition: transform 0.4s ease-out;*/
}

.with-landing.landing-stop-animation body > main {
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

.site-footer {
    -moz-transform: translateX(0rem);
    -moz-transition: all 0.4s ease-out;
    -webkit-transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-out;
    -webkit-transform: translateX(0rem);
            -ms-transform: translateX(0rem);
        transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

.show-menu .site-footer {
    /*-moz-transition: -webkit-transform 0.4s ease-out;*/
    -webkit-transform: translateX(17rem);
    /*-webkit-transition: -webkit-transform 0.4s ease-out;*/
    -ms-transform: translateX(17rem);
        transform: translateX(17rem);
    /*transition: transform 0.4s ease-out;*/
}

.show-menu .site-footer.emergefake-show {
    /*-moz-transition: -webkit-transformX 0.4s ease-out;*/
    -webkit-transform: translateX(17rem);
    /*-webkit-transition: -webkit-transformX 0.4s ease-out;*/
    -ms-transform: translateX(17rem);
        transform: translateX(17rem);
    /*transition: transform 0.4s ease-out;*/
}

.site-header {
    -moz-transform: translateX(0rem);
    -moz-transition: all 0.4s ease-out;
    -webkit-transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-out;
    -webkit-transform: translateX(0rem);
            -ms-transform: translateX(0rem);
        transform: translateX(0rem);
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

.with-landing.landing-stop-animation body .site-header {
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
    -webkit-transition-property: height, -webkit-transform;
            transition-property: height, -webkit-transform;
    transition-property: height, transform;

    height: 5rem;
}

.with-landing.landing-stop-animation body.show-projects .site-header {
    height: 10rem;
}

.with-landing.landing-stop-animation body .site-header-menu > * {
    top: 0;
    margin-top: 0;
}

body.show-menu .site-header {
    -webkit-transform: translateX(17rem);
    -ms-transform: translateX(17rem);
        transform: translateX(17rem);
}


/*контент*/
main {
    padding-top: 6rem;
    background-color: #fff;
    border-bottom: solid #fff 1px;
    display: block;
}

/*фоторама*/
.fotorama .slide {
    height: 15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    text-align: center;
    position: relative;
}

.fotorama .slide:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;
}

.fotorama .slide > * {
    z-index: 1;
    position: relative;
}

.fotorama .slide:after {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
}

.fotorama .slide article {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    /*float: none !important;*/
}

.fotorama .slide article.column6 {
    max-width: 40rem;
}

.fotorama .slide .slide-link {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
}

.fotorama .slide header {
    text-align: center;
}

.fotorama__arr--next {
    right: 10%;
    /*margin-right: -21rem;*/
    background: none;
    color: #ffffff;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

.fotorama__arr--next:after {
    content: "\e60d";
    font-family: 'icomoon';
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fotorama__arr--prev {
    left: 10%;
    /*margin-left: -23rem;*/
    background: none;
    color: #ffffff;
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}

@media all and (min-width: 1400px) {
    .fotorama__arr--prev {
        left: 50%;
        margin-left: -30rem;
    }
    .fotorama__arr--next {
        right: 50%;
        margin-right: -30rem;
    }
}

.fotorama__arr--prev:after {
    content: "\e60c";
    font-family: 'icomoon';
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fotorama__nav-wrap {
    position: absolute;
    left: 0;
    bottom: 0.5rem;
}

.fotorama__nav--dots .fotorama__nav__frame {
    width: 15px;
}

.fotorama__dot {
    border-color: rgba(255,255,255, 0.4);
}

/*футер*/
.site-footer {
    background-color: #f9f9f9;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.site-footer .copyrights {
    color: #aaaaaa;
}

.site-footer a {
    color: #111111;
}

.site-footer .social a {
    color: #aaaaaa;
    font-size: 1.125rem;
    margin-right: 0.25rem;
}

.site-footer .feedback {
    color: green;
}

.site-footer .neq4-projects .logo {
    height: 1.5rem;
}

.site-footer .neq4-projects a {
    margin-bottom: 1rem;
    font-size: 0.667rem;
    line-height: 0.875rem;
    color: #aaaaaa;
    display: block;
}

.site-footer .neq4-projects a:last-child {
    margin-bottom: 0;
}

.site-footer .menu a {
    color: #111111;
    line-height: 1.25rem;
}

.site-footer .download {
    color: green;
    display: inline-block;
}

.site-footer .download [class*="icon-pdf"] {
    font-size: 150%;
    position: relative;
    top: 2px;
}

/*шапка*/
.site-header {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /*width: 100%;*/
    min-width: 320px;
    z-index: 90;
    /*overflow-y: hidden;*/
}

.site-header .row {
    position: relative;
}

.site-header.shadow,
.site-header[data-animate="true"] {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.site-header .site-header-menu > *:first-child {
    white-space: nowrap;
}

.site-header .toggle-neq4-projects {
    color: #aaaaaa;
    line-height: 2rem;
    height: 2rem;
    width: 2rem;
    margin-top: 1.5rem;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    margin-left: 0.5rem;
}

.site-header .toggle-neq4-projects[data-active="false"] .icon-chevron-down,
.site-header .toggle-neq4-projects[data-active="true"] .icon-chevron-up {
    display: none;
}

.site-header .alternate-menu {
    line-height: 2rem;
    margin-top: 1.5rem;
    position: relative;
    left: -0.625rem;
}

.site-header .alternate-menu a {
    padding: 0 0.625rem;
    /*margin-right: 1rem;*/
    display: inline-block;
    color: #111111;
    white-space: nowrap;
}

.site-header .alternate-menu a.active {
    background-color: #f1f1f1;
    opacity: 1 !important;
}

.site-header .alternate-menu a:last-child {
    margin-right: 0;
    float: right;
}

/*лого сайта*/
.site-header .site-logo {
    height: 3rem;
    display: inline-block;
    vertical-align: top;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.site-header .site-logo:hover {
    opacity: 1;
}

.site-header .site-logo img {
    display: block;
    height: 3rem;
}

/*проекты нек в шапке*/
.site-header .neq4-projects {
    height: 3rem;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f9f9f9;
    color: #aaaaaa;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-out;
            transition: all 0.4s ease-out;
}

.site-header .neq4-projects .row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.site-header .neq4-projects[data-active="false"] {
    margin-top: -5rem;
}

.site-header .neq4-projects[data-active="true"] {
    margin-top: 0rem;
}

.site-header .neq4-projects a {
    text-decoration: none;
    color: #aaaaaa;
}

.site-header .neq4-projects[data-active="true"] a:hover {
    opacity: 1;
}

.site-header .neq4-projects .logo {
    height: 2rem;
    margin-right: 0.5rem;
}

.site-header .neq4-projects .row {
    position: relative;
    z-index: 1;
}

.site-header .neq4-projects a > * {
    vertical-align: middle;
}

/*анимация проектов neq4*/
.morph-shape {
    width: 100%;
    height: 100%;
    height: 5rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    fill: #f9f9f9;
    z-index: 0;
}

/*анимация появления*/
.emergefake {
    opacity: 0.0;
    -moz-transform: translateY(20px);
    -moz-transition-duration: 0.4s;
    -moz-transition-timing-function: ease-out;
    -webkit-transform: translateY(20px);
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform: translateY(0,20px,0);
            -ms-transform: translateY(0,20px,0);
        transform: translateY(0,20px,0);
    -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
}

.emergefake.emergefake-show {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0,0px,0);
        transform: translateY(0,0px,0);
}

/*табы*/
.tabs-links {
    margin-bottom: 2rem;
    line-height: 1rem;
    display: table;
    /*border-left: solid #f1f1f1 1px;*/
}

.tabs-links.vertical {
    line-height: normal;
    display: block;
    border-left: 0;
    border-top: solid #f1f1f1 1px;
    border-bottom: solid #f1f1f1 1px;
}

.tabs-links .tab-link {
    display: table-cell;
    color: #111;
    padding: 0.5rem 0.625rem;
    border: solid #f1f1f1 1px;
    border-left: 0px;
    background-color: #fff;
}

.tabs-links .tab-link:first-child {
    border-left: solid #f1f1f1 1px;
}

.tabs-links.vertical .tab-link {
    display: block;
    border-left: solid #f1f1f1 1px;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0.5rem 0.625rem;
}

.tabs-links .tab-link.active {
    background-color: #f1f1f1;
}

.tabs-links .tab-link.active:hover {
    opacity: 1;
    cursor: default;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.tab[class*="column"].active {
    display: inline-block;
}

/*список печати*/
.print-posts,
.print-year {
    margin-bottom: 3rem;
}

.print-posts:last-child,
.print-year:last-child {
    margin-bottom: 0;
}

ul.print-posts {
    list-style: none;
}

ul.print-posts li {
    display: inline-block;
    vertical-align: bottom;
    width: 8rem;
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

ul.print-posts li:before {
    content: none;
}

ul.print-posts a {
    display: block;
}

ul.print-posts a.no-image {
    padding: 1.5rem 1rem;
    background-color: #5AC3FB;
    color: #fff;
    min-height: 9rem;
}

ul.print-posts a img {
    width: 100%;
    display: block;
}

ul.print-posts p {
    margin-bottom: 0.25rem;
    font-weight: 400;
}

ul.print-posts .date {
    font-size: 0.556rem;
    text-transform: uppercase;
    font-weight: 500;
}

ul.print-posts .source {
    font-size: 0.667rem;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0.85rem;
}

/*интернет-посты*/
.internet-posts,
.internet-year {
    margin-bottom: 3rem;
}

.internet-posts:last-child,
.internet-year:last-child {
    margin-bottom: 0;
}

.internet-posts {
    list-style: none;
    /*margin-left: 0;*/
}

.internet-posts li {
    margin-bottom: 2rem;
}

.internet-posts li:before {
    content: none;
}

.internet-posts li a {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 66%;
    color: #111;
}

.internet-posts li a[style*="background-image"] {
    color: #fff;
    padding: 1.5rem 1rem;
    min-height: 13rem;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 400;
}

.internet-posts li a[style*="background-image"]:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-weight: 400;
    background-color: rgba(0,0,0,0.3);
    z-index: 0;

}

.internet-posts li p {
    position: relative;
    z-index: 1;
    margin-bottom: 0.25rem;
}

.internet-posts .date {
    font-size: 0.556rem;
    text-transform: uppercase;
    font-weight: 500;
}

.internet-posts .source {
    font-size: 0.667rem;
    font-weight: 400;
    font-style: italic;
    color: #aaa;
}

.internet-posts li a[style*="background-image"] .source {
    color: #fff;
}

.internet-posts li p:last-child {
    margin-bottom: 0;
}

/*тв-посты*/
.tv-posts,
.tv-year {
    margin-bottom: 3rem;
}

.tv-posts:last-child,
.tv-year:last-child {
    margin-bottom: 0;
}

.tv-posts {
    list-style: none;
    /*margin-left: 0;*/
}

.tv-posts li {
    display: table;
    width: 100%;
    margin-bottom: 2rem;
}

.tv-posts li:before {
    content: none;
}

.tv-posts li > * {
    display: table-cell;
}

.tv-posts li .video {
    width: 66%;
}


.tv-posts li .video iframe {
    display: block;
    width: 100%;
}

.tv-posts li .info {
    padding-top: 1.5rem;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #111;
    vertical-align: top;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.tv-posts .date {
    font-size: 0.556rem;
    text-transform: uppercase;
    font-weight: 500;
}

.tv-posts .source {
    font-size: 0.667rem;
    font-weight: 400;
    font-style: italic;
    color: #aaa;
}

.tv-posts li p {
    margin-bottom: 0.25rem;
}

/*вакансии*/
.job-hero {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.25rem;
}

.job-hero p {
    margin-left: 1rem;
}

.job-hero li {
    margin-bottom: 0.5rem;
}

div[id*="job"].tab {
    position: relative;
}

div[id*="job"].tab aside {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 4rem;
}


/*карта*/
.map {
    margin-top: 2rem;
}

.maps-tabs {
    position: relative;
}

.maps-tabs .tabs-links {
    position: absolute;
    left: 50%;
    margin-left: -26.5rem;
    top: 2rem;
    /*z-index: 1000;*/
}

.maps-tabs .tabs-links:after {
    content: " ";
    position: absolute;
    left: -0.5rem;
    right: -0.5rem;
    top: -0.5rem;
    bottom: -0.5rem;
    background-color: #ffffff;
    z-index: 0;
}

.maps-tabs .tabs-links > * {
    position: relative;
    z-index: 1;
}

.maps-tabs .tab {
    min-height: 400px;
    background-color: #f1f1f1;
}

.how-to-get {
    position: absolute;
    top: 2rem;
	padding: 1.67rem;
	background: #fff;
	box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.1);
}
.how-to-get > p  {
	font-weight: 600;
	font-size: 1.25rem;

}
.how-to-get > h3:first-child {
	margin-bottom: 1rem;
}
.how-to-get a {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 2rem;
}
.how-to-get a:hover {
	background-color: hsla(0, 0%, 0%, 0.05);
	opacity: 1;
	transition: background-color 0.1s ease-out 0s;
}
.how-to-get [class^="icon"] {
	margin-right: .3rem;
	color: hsl(120, 100%, 25%);
}

/*таймлайн*/
.neq4-history-timeline .column3 {
    width: 14rem;
    margin: 0;
    margin: 0 0.75rem;
}

.neq4-history-timeline .scrollyeah__shadow {
    width: 50px;
}

/*кнопка - тег*/
.btn-tag {
   position: relative;
   display: inline-block;
   color: white;
   padding: 0 7px 0 5px;
   font-size: 0.67rem;
   line-height: 1.5rem;
   border: 1px solid white;
   border-left: none;
   height: 28px;
   box-sizing: border-box;
   margin-left: 13px;
}
.btn-tag:before {
    background: url("../images/tag-left.svg")no-repeat;
    content: "";
    height: 28px;
    width: 100%;
    position: absolute;
    top: -1px;
    left: -13px;
}

/* Архив */
.projects .archive img {
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

.projects .archive {
    text-transform: uppercase;
    line-height: 28px;
    float: right;
}

@media screen and (max-width: 960px) {
    .projects .archive {
        float: none;
        display: block;
        margin-top: 10px;
    }
}

/*  Некий список */

ul.no-style {
    list-style: none;
    margin: 1rem 0;
}

ul.no-style li:before {
    content: none;
}

ul.no-style li {
    margin: 0.5rem 0;
}

/*  Яндекс-панорамы */

.yandex-panorama.card {
    height: 240px;
    margin: 0 0.43rem 1rem 0.43rem;
}

.yandex-panorama.card .row.bottom {
    bottom: 1.5rem;
    left: 1.5rem;
    position: absolute;
    margin: 0;
}

.yandex-panorama.card a {
    color: white;
}

.yandex-panorama.card a:hover {
    color: white;
    opacity: 1;
}

.yandex-panorama.card a.underlined > span,
.yandex-panorama.card span.underlined {
    border-color: rgba(255, 255, 255, 0.5);
}

a.yandex-panorama.card:hover {
    opacity: 0.8;
}

a.yandex-panorama.card:hover:before {
    /*opacity: 0.0;*/
}

.yandex-panorama .icon-yandex-pin:before {
    content: " ";
    width: 25px;
    height: 30px;
    background: url(../images/icon-yandex-pin.png) no-repeat center center;
    display: inline-block;
    vertical-align: middle;
}

.yandex-panorama .icon-yandex-pin + span {
    margin-left: 0.25rem;
}

@media all and (max-width: 480px) {
    .site-header-menu .yandex-logo {
        float: right;
    }
}

/*  Видимое в шапке - лого яндекса например */

.site-header.only-logo .site-header-menu > * {
    width: auto;
}

/*
 █████╗ ██████╗  █████╗ ██████╗ ████████╗██╗██╗   ██╗███████╗
██╔══██╗██╔══██╗██╔══██╗██╔══██╗╚══██╔══╝██║██║   ██║██╔════╝
███████║██║  ██║███████║██████╔╝   ██║   ██║██║   ██║█████╗
██╔══██║██║  ██║██╔══██║██╔═══╝    ██║   ██║╚██╗ ██╔╝██╔══╝
██║  ██║██████╔╝██║  ██║██║        ██║   ██║ ╚████╔╝ ███████╗
╚═╝  ╚═╝╚═════╝ ╚═╝  ╚═╝╚═╝        ╚═╝   ╚═╝  ╚═══╝  ╚══════╝
*/

@media screen and (max-height: 500px) {
    .site-menu {
        padding-top: 1.375rem;
    }

    .language-select {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 1230px) {

    body > main {
        padding-top: 5.5rem;
    }

    .site-header .site-logo {
        height: 2rem;
        margin-top: 1.5rem;
        margin-left: 0.25rem;
        -webkit-transition: margin-left 0.4s ease-out;
                transition: margin-left 0.4s ease-out;
    }

    .site-header .toggle-neq4-projects {
        width: 1rem;
    }

    .site-header .site-logo img {
        height: 2rem;
    }

    .site-header-menu > *:first-child {
        width: 14%;
    }

    .site-header-menu > *:last-child {
        width: 81%;
    }
}

@media screen and (min-width: 1081px) {
    *[data-desktop="hide"] {
        display: none !important;
    }
}

@media screen and (max-width: 1080px) {
    *[data-mobile="hide"] {
        display: none !important;
    }

    body {
        min-width: 320px;
    }
}

@media screen and (max-width: 1080px) {

    /*колонки*/
    .row {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .column3,
    .column4,
    .column6,
    .column8,
    .column9 {
        margin-left: 1%;
        margin-right: 1%;
    }

/*    .column3 {
        width: 22%;
    }

    .column4 {
        width: 30%;
    }*/

    .column6 {
        width: 47.5%;
    }

    .column8,
    .column9 {
        /*width: 72%;*/
        width: 96%;
        /*display: block;*/
/*        margin-bottom: 1rem;
        margin-top: 1rem;*/
    }

    .left3 {
        left: 0;
    }

    .column12 {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }

    .column3,
    .column4 {
        width: 47.5%;
    }

    .left3 {
        left: 24.5%;
    }

    .column9 .column6 {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        /*margin-bottom: 1rem;*/
    }

    .column9 .column3 {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        /*margin-bottom: 1rem;*/
    }

    .mobile-column12 {
        width: 96%;
    }

    .row .column12,
    .row .mobile-column12 {
        width: 98%;
        margin-left: 0;
        margin-right: 0;
    }

    .mobile-column9 {
        width: 96%;
    }

    .mobile-column4 {
        width: 30%;
    }

    .mobile-margins {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .site-footer .mobile-margins {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #team .media {
        width: 22%;
    }

    /*таймлайн*/
    .neq4-history-timeline .column3 {
        width: 14rem;
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }

/*    .neq4-history-timeline .column3:first-child {
        margin-left: 1%;
    }

    .neq4-history-timeline .column3:last-child {
        margin-right: 1%;
    }*/


    /*формы*/
    form label[class*="column"] {
        text-align: left;
    }


    form *[class*="column"] {
        width: 98%;
    }

    form input[type="submit"] {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 47.5%;
        left: 0 !important;
    }

    form h3.left3 {
        left: 0;
    }

    /*вакансии*/
    div[id*="job"].tab aside {
        position: static;
        margin-top: 1.5rem;
        padding-top: 0rem;
    }

    div[id*="job"].tab {
        margin-bottom: 2.5rem;
        margin-top: 1.5rem;
        display: block !important;
    }

    div[id*="job"].tab:last-child {
        margin-bottom: 0;
    }

    #jobs .tabs-links {
        display: none;
    }

    /*контакты*/
    .maps-tabs .tabs-links {
        left: 1.5rem;
        margin-left: 0;
    }

    /*футер*/
    .site-footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
    }

    .site-footer .column3 {
        width: 96%;
    }

    .site-footer .neq4-projects a {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    /*фоторама*/
    .fotorama__arr--next {
        margin-right: 0;
        right: 1rem;
    }

    .fotorama__arr--prev {
        margin-left: 0;
        left: 0.125rem;
    }

    .fotorama .slide article {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
        width: auto;
        max-width: 70%;
    }

    .fotorama .slide article p {
        max-height: 6.25rem;
        overflow: hidden;
    }

    .fotorama .slide article h2.header {
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        /*overflow: hidden;*/
    }

    .with-landing .site-header {
        height: 5rem;
    }

    .site-header .landing-image {
        display: none;
    }

    .with-landing .toggle-site-menu {
        opacity: 1 !important;
    }

    .with-landing .toggle-neq4-projects {
        opacity: 1 !important;
    }

    .with-landing body > main {
        top: 0;
    }

    .toggle-neq4-projects {
        left: auto;
        right: 7rem;
    }

    .toggle-site-menu label {
        display: inline-block;
        cursor: pointer;
        margin-left: 0.125rem;
    }

    /*шапка*/

    .site-header .neq4-projects {}
    .site-header .neq4-projects .column6 {
        width: 47%;
        text-align: center;
        line-height: normal;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .site-header .neq4-projects img.logo {
        display: block;
        height: 1.125rem;
        margin-bottom: 0.25rem;
        margin-left: auto;
        margin-right: auto;
    }

    .site-header:not(.only-logo) .site-header-menu .column9 {
        display: none !important;
    }

    .site-header:not(.only-logo) .site-header-menu > *:first-child {
        float: right;
        text-align: right;
        width: 50%;
    }

    .site-header.only-logo .site-header-menu > * {
        width: auto;
    }


/*    .site-header .site-header-menu .always-visible {
        display: block !important;
    }*/

    .internet-posts,
    .internet-year,
    .tv-posts,
    .tv-year,
    .print-posts,
    .print-year {
        margin-bottom: 1rem;
    }

    .internet-posts li a {
        width: auto;
    }

}

@media screen and (max-width: 960px) {
    .fotorama .slide article {
        margin-left: 0;
        margin-right: 0;
        width: 70%;
    }

    .fotorama .slide article p {
        font-size: 0.875rem;
        line-height: 1rem;
    }
}

@media screen and (max-width: 750px) {
    .column6 {
        width: 98%;
    }

    #team .media {
        width: 30%;
    }

    .neq4-history-timeline .column3:first-child {
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 640px) {
    .column3,
    .column4 {
        width: 98%;
    }

    .mobile-column4 {
        width: 30%;
    }

    .fotorama .slide article {
        width: 85%;
    }

    .fotorama .fotorama__arr {
        display: none !important;
    }
}

@media screen and (max-width: 500px) {

    #team .media {
        width: 47.5%;
    }

    .neq4-history-timeline .column3:first-child {
        margin-left: 0.375rem;
    }

    #pak-apparat-part .column3,
    #pak-program-part .column3 {
        width: 47.5%;
    }

    .tv-posts li {
        display: block;
    }

    .tv-posts li > * {
        display: block;
        width: auto !important;
    }

    .tv-posts li .info {
        padding-bottom: 1.5rem;
    }

    .fotorama .slide article > *:not(header) {
        /*display: none;*/
    }
}



