

/*
.column3,
.column4,
.column6,
.column8,
.column9 {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.6%;
}
*/

/*  проекты */
.projects {
    position: relative;
    /*cursor: pointer;*/
    z-index: 1;
    box-sizing: border-box;
    overflow: hidden;
    height: 16rem;
    margin-bottom: 1rem;
}
.projects::after {
    background-color: rgba(0,0,0,1);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.projects .project-image {
    height: 100%;
    opacity: .5;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    -webkit-transition: -webkit-transform .6s;
    transition:  transform .6s;
}
.projects:hover .project-image {
      -webkit-transform: scale(1.05,1.05);
          -ms-transform: scale(1.05,1.05);
           -o-transform: scale(1.05,1.05);
              transform: scale(1.05,1.05);
}
.projects figcaption, .projects figcaption > a.project-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.projects figcaption a {
    z-index: 2;
}
.projects figcaption {
    color: #fff;
    padding: 2rem 2.7rem;
    box-sizing: border-box;
}
.projects figcaption h4 {
    font-size: 1.34rem;
    line-height: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.0rem;
}
.projects figcaption .date {
    font-size: 0.778rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 0 .3rem;
}
.projects figcaption .description {
    font-size: 1rem;
    line-height: 1.28rem;
    font-weight: 300;
    margin-bottom: 0;
    height: 8rem;
}

/* главный проект */
.hero-project {
    margin: 1rem 0 0;
    min-height: 35rem;
    box-sizing: border-box;
    text-align: center;
    color: white;
}
.hero-project-wrap, .hero-project-wrap a.project-link {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero-project h4 {
    font-size: 3rem;
    line-height:4rem;
    font-weight: 700;
}
.hero-project h4 span {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.hero-project p {
    font-size: 1.34rem;
    line-height: 1.6rem;
    font-weight: 300;
    margin: 0 auto 2rem;

}
.hero-project a {
    color: white;
    z-index: 2;
}

.last-projects {
    margin-top: 1rem;
}


/* меню сайта */
.site-menu {
    background-color: #34c6f4;
}

.toggle-site-menu:before {
    background-color: #34c6f4;
}


/* подвал */
.site-footer .feedback,
.site-footer .download {
    color: #34c6f4;
}