@font-face {
    font-family: 'Gotham';
    src: url('gothaprobla.eot');
    src: url('gothaprobla.eot?#iefix') format('embedded-opentype'),
         url('gothaprobla.woff') format('woff'),
         url('gothaprobla.ttf') format('truetype'),
         url('gothaprobla.svg#gotham_problack') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothapromedita.eot');
    src: url('gothapromedita.eot?#iefix') format('embedded-opentype'),
         url('gothapromedita.woff') format('woff'),
         url('gothapromedita.ttf') format('truetype'),
         url('gothapromedita.svg#gotham_promedium_italic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothapromed.eot');
    src: url('gothapromed.eot?#iefix') format('embedded-opentype'),
         url('gothapromed.woff') format('woff'),
         url('gothapromed.ttf') format('truetype'),
         url('gothapromed.svg#gotham_promedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('gothapronarmed.eot');
    src: url('gothapronarmed.eot?#iefix') format('embedded-opentype'),
         url('gothapronarmed.woff') format('woff'),
         url('gothapronarmed.ttf') format('truetype'),
         url('gothapronarmed.svg#gotham_pro_narrowmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaproligita.eot');
    src: url('gothaproligita.eot?#iefix') format('embedded-opentype'),
         url('gothaproligita.woff') format('woff'),
         url('gothaproligita.ttf') format('truetype'),
         url('gothaproligita.svg#gotham_prolight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaprolig.eot');
    src: url('gothaprolig.eot?#iefix') format('embedded-opentype'),
         url('gothaprolig.woff') format('woff'),
         url('gothaprolig.ttf') format('truetype'),
         url('gothaprolig.svg#gotham_prolight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaprobolita.eot');
    src: url('gothaprobolita.eot?#iefix') format('embedded-opentype'),
         url('gothaprobolita.woff') format('woff'),
         url('gothaprobolita.ttf') format('truetype'),
         url('gothaprobolita.svg#gotham_probold_italic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaproita.eot');
    src: url('gothaproita.eot?#iefix') format('embedded-opentype'),
         url('gothaproita.woff') format('woff'),
         url('gothaproita.ttf') format('truetype'),
         url('gothaproita.svg#gotham_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaprobol.eot');
    src: url('gothaprobol.eot?#iefix') format('embedded-opentype'),
         url('gothaprobol.woff') format('woff'),
         url('gothaprobol.ttf') format('truetype'),
         url('gothaprobol.svg#gotham_probold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaproblaita.eot');
    src: url('gothaproblaita.eot?#iefix') format('embedded-opentype'),
         url('gothaproblaita.woff') format('woff'),
         url('gothaproblaita.ttf') format('truetype'),
         url('gothaproblaita.svg#gotham_problack_italic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Narrow';
    src: url('gothapronarbol.eot');
    src: url('gothapronarbol.eot?#iefix') format('embedded-opentype'),
         url('gothapronarbol.woff') format('woff'),
         url('gothapronarbol.ttf') format('truetype'),
         url('gothapronarbol.svg#gotham_pro_narrowbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('gothaproreg.eot');
    src: url('gothaproreg.eot?#iefix') format('embedded-opentype'),
         url('gothaproreg.woff') format('woff'),
         url('gothaproreg.ttf') format('truetype'),
         url('gothaproreg.svg#gotham_proregular') format('svg');
    font-weight: 400;
    font-style: normal;
}