@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?suieky');
	src:url('icomoon.eot?#iefixsuieky') format('embedded-opentype'),
		url('icomoon.woff?suieky') format('woff'),
		url('icomoon.ttf?suieky') format('truetype'),
		url('icomoon.svg?suieky#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-metro:before {
	content: "\e622";
}

.icon-car:before {
	content: "\e623";
}

.icon-pdf:before {
	content: "\e621";
}
.icon-distance:before {
	content: "\e605";
}
.icon-panorama:before {
	content: "\e606";
}
.icon-earth:before {
	content: "\e607";
}
.icon-boat:before {
	content: "\e608";
}
.icon-mountain:before {
	content: "\e609";
}
.icon-code-paper:before {
	content: "\e60a";
}
.icon-panorama-paper:before {
	content: "\e61a";
}
.icon-papers:before {
	content: "\e61b";
}
.icon-camera-control:before {
	content: "\e60f";
}
.icon-memory-card:before {
	content: "\e610";
}
.icon-photo-rack:before {
	content: "\e611";
}
.icon-computer:before {
	content: "\e612";
}
.icon-gps:before {
	content: "\e613";
}
.icon-video-player:before {
	content: "\e614";
}
.icon-electricity:before {
	content: "\e615";
}
.icon-cloud:before {
	content: "\e616";
}
.icon-mobile-usb:before {
	content: "\e617";
}
.icon-speed-display:before {
	content: "\e618";
}
.icon-mirror-camera:before {
	content: "\e619";
}
.icon-person2:before {
	content: "\e60e";
}
.icon-prev:before {
	content: "\e60c";
}
.icon-next:before {
	content: "\e60d";
}
.icon-close:before {
	content: "\e60b";
}
.icon-menu:before {
	content: "\e604";
}
.icon-chevron-left:before {
	content: "\e602";
}
.icon-chevron-down:before {
	content: "\e600";
}
.icon-chevron-up:before {
	content: "\e601";
}
.icon-chevron-right:before {
	content: "\e603";
}
.icon-facebook-square:before {
	content: "\f082";
}
.icon-instagram:before {
	content: "\f16d";
} 


/*	Новые иконки */

.icon-import:before {
	content: "\e61c";
}

.icon-processing:before {
	content: "\e61d";
}

.icon-control:before {
	content: "\e61e";
}

.icon-planning:before {
	content: "\e61f";
}

.icon-correction:before {
	content: "\e620";
}

/*	Специконка */

* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

.specialicon-menu, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.specialicon-menu span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(20,20,20,0.8);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/*.specialicon-menu span:nth-child(1) {
  top: 0px;
}

.specialicon-menu span:nth-child(2) {
  top: 10px;
}

.specialicon-menu span:nth-child(3) {
  top: 20px;
}

*[data-active="true"] .specialicon-menu span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

*[data-active="true"] .specialicon-menu span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

*[data-active="true"] .specialicon-menu span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}*/

/* Icon 2 */

/*#nav-icon2 {
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: #d3531a;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}*/

/* Icon 3 */

/*#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}*/

/* Icon 4 */

.specialicon-menu span:nth-child(1) {
  top: 2px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.specialicon-menu span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.specialicon-menu span:nth-child(3) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

*[data-active="true"] .specialicon-menu span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 3px;
  left: 4px;
}

*[data-active="true"] .specialicon-menu span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

*[data-active="true"] .specialicon-menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 20px;
  left: 4px;
}